:root {
    --button-color: #00ff66;
    --button2-color: #025322;
    --radius-color: #0fb101;
    --background-color: #000000;
    --background2-color: #0e0e0e;
    --text-color: black;
    --text2-color: white;
}